# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Docker build files
*.tar
*.log

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/

# Environments
.env
.venv

# IDEs and editors
.vscode/
.idea/

# macOS files
.DS_Store

# Database
.db
time_tracking.db

# scripts
*.sh
